################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/did-uri-parsers/v15
/did-uri-parsers/obj
/did-uri-parsers/bin