################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/did-uri-parsers/v15
did-uri-parsers/obj/Debug/netcoreapp2.2/did-uri-parsers.assets.cache
did-uri-parsers/obj/Debug/netcoreapp2.2/project.razor.json
did-uri-parsers/obj/Debug/netcoreapp2.2/did-uri-parsers.assets.cache
did-uri-parsers/obj/Debug/netcoreapp2.2/did-uri-parsers.assets.cache
